/* ======================================================
=================== start header css ====================
========================================================= */
.slpMainHeader{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.sticky {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0px;
    z-index: 9999;
    height: 70px;
    padding: 10px 0 !important;
    background-color: var(--slpWhite);
    box-shadow: var(--splPrimaryShadow);
    display: flex;
    align-items: center;
}
.sticky .slpHeaderSection {
    padding: 4px 0 !important;
}
.sticky .slpLogoSize {
    width: 85px;
    display: flex;
    align-items: center;
}
.slpNav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.slpHeaderwrapper{
   position: relative;
}
.slpHeaderSection {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
}
.slpNavItem{
    font-size: var(--slpFontSize14);
    font-weight: 600;
   cursor: pointer;
}
.slpNavItem:not(:last-child){
    margin-right:40px
}
/* ======================================================
=================== end header css ======================
========================================================= */



/* ======================================================
=================== start banner css ====================
========================================================= */
/* .slpBannerSection{
    background-color:var(--slpBgColor1);
    height: 100vh;
    min-height: 768px;
    position: relative;
    overflow: hidden;
    z-index: 9;
 
} */
.slpBannerSection {
    background-color: var(--slpBgColor1);
    position: relative;
    overflow: hidden;
    z-index: 9;
}

.slpBannerSection::after {
    content: "";
    position: absolute;
    width: 1617px;
    height: 1617px;
    left: 50%;
    bottom: 0;
    background-image: var(--slpWhiteGradient);
    border-radius: 50%;
    z-index: -1;
  
}
.slpMainBanner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
/* .slpMainBanner{
    display: flex;
    flex-wrap: wrap;
} */
.slpMainBannerLeft{
    width:100%;
}

.slpCountDownArea{
    display: flex;
}



.slpMainBannerRight {
    width: 100%;
    order: -1;
    margin-top:60px;
}
.slpBannerHeadingText{
    font-size: var(--slpFontSize26);
    font-weight: 700;
    color:var(--slpSecondaryColor);
    line-height: 36px;
}
/* .slpBannerHeadingText{
    font-size: var(--slpFontSize48);
    font-weight: 700;
    color:var(--slpSecondaryColor);
    line-height: 60px;
} */
.slpSubHeadingText{
    line-height: 24px;
}
.slpCountDownColTop{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--slpWhite);
    border-radius: 5px;
}

.slpCountDownNumber {
    font-size: var(--slpFontSize18);
    font-weight: 600;
    color:var(--slpSecondaryColor);
}
.splCountDownDay{
    color:var(--slpTextcolor1);
    font-size:var(--slpFontSize12);
    font-weight: 500;
}
.slpCountDownColBottom{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slpColonIcon{
    width: 16px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.slpCountDownTopText{
    font-family: 'Pacifico', cursive;
    font-size:var( --slpFontSize22);
    color:var(--slpPrimaryColor);
    display: block;
}
/* .slpCountDownTopText{
    font-family: 'Pacifico', cursive;
    font-size:var( --slpFontSize36);
    color:var(--slpPrimaryColor);
    line-height: 24px;
    display: block;
} */


/* right */
.slpMainBannerRightInner .slpBannerRightImg{
    width: 100%;
}
/* .slpMainBannerRightInner .slpBannerRightImg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.slpMainBannerRightInner {

    width: 100%;
}
/* .slpMainBannerRightInner {
    max-width: 730px;
    height: 600px;
    width: 100%;
    float: right;
} */
.slpBannerGetStartBtn{
    font-size: var(--slpFontSize12);
    font-weight: 600;
    text-transform: uppercase;

}
/* ======================================================
===================== end banner css ====================
========================================================= */


/* ======================================================
================= start grow faser css ==================
========================================================= */
.slpGrowFasterMain {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.slpGrowFasterLeft{
    width:100%;
}

.slpSectionHeaderText{
    font-size: var(--slpFontSize22);
    font-weight: 700;
    color:var(--slpSecondaryColor);
    line-height: 32px;
    
}


/* .slpSectionHeaderText{
    font-size: var(--slpFontSize36);
    font-weight: 700;
    color:var(--slpSecondaryColor);
    line-height: 48px;
    
} */

/* right */

.slpSectionHeaderArea {
    margin-top: 30px;
}
.slpGrowFasterRight{
    width:100%;
    /* padding-left:50px; */
}
.loadFasterImage img{
    width:100%;
}
.slpGrowFasterText{
    line-height: 24px;
}
/* ======================================================
=================== end grow faser css ==================
========================================================= */

/* ======================================================
=================== start choose us css =================
========================================================= */

.slpChooseUsSectionHeading{
    max-width: 720px;
    width:100%;
    margin: 0 auto;
}
.slpChooseUsBottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}
/* .slpChooseUsCol {
    width: calc(25% - 45px);
} */
.slpChooseUsCol {
    width: 100%;
}
.slpChooseUsCol:not(:last-child){
    margin-bottom: 40px;
}
.slpChooseUsTitle{
    font-size: var(--slpFontSize18);
    font-weight: 700;
    line-height: 24px;
    color:var(--slpPrimaryTextColor);
}
/* .slpChooseUsTitle{
    font-size: var(--slpFontSize20);
    font-weight: 700;
    line-height: 24px;
    color:var(--slpPrimaryTextColor);
} */
.slpChooseUsText{
    line-height: 24px;
}
/* ======================================================
=================== end choose us css ===================
========================================================= */

/* ======================================================
================== start wherever css ===================
========================================================= */
.slpWhereverSection{
    background-color:var(--slpBgColor1);
}
.slpWhereverHeaderHeader{
    max-width: 610px;
    width:100%;
}
.slpWhereverMain {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.slpWhereverItem {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.slpWhereverLeft{
    width:100%;
}
.slpWhereverRight {
    width: 100%;
    order: -1;
    margin-bottom: 40px;
}
.slpWhereverItemCol{
    width:calc(50% - 45px);
    margin-bottom: 32px;
}
.slpWhereverItemCol:nth-child(3){
    margin-bottom:0px;
}
.slpWhereverItemCol:nth-child(4){
    margin-bottom:0px;
}
.slpWhereverImg{
    width:100%;
}
/* .slpWhereverImg{
    max-width: 690px;
    width:100%;
} */
.slpWhereverImg img{
    width:100%;
}
/* ======================================================
================== end wherever css =====================
========================================================= */


/* ======================================================
============== start ask question css ===================
========================================================= */

.slpAskQuestionMain{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
/* .slpAskQuestionMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
} */
.slpAskQuestionLeft{
    width:100%;
}
.slpAskQuestionRight {
    width: 100;
    margin-top:40px;
    /* padding-left: 64px; */
}
.slpAskQuestionLeftImg{
    /* max-width: 690px; */
    width: 100%;
}
.slpAskQuestionLeftImg img{
    width:100%;
}

.slpAskQuestionForm {
    max-width: 600px;
    width: 100%;
    margin-top: 40px;
}
/* .slpAskQuestionForm {
    max-width: 600px;
    width: 100%;
    margin-top: 60px;
} */
.slpAskNameField{
    position: relative;
}
.slpInputFieldLabel {
    position: absolute;
    background: #fff;
    padding: 1px 5px;
    top: -10px;
    left: 12px;
}
.slpAskNameField:not(:last-child){
    margin-bottom:33px;
}
.slpSubmitButton {
    margin-top: 20px;
}
/* ======================================================
============== end ask question css =====================
========================================================= */


/* ======================================================
========== start satisfied customer css =================
========================================================= */
.slpSatisFiedPartner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:60px;
}
.slpPartnercol {
    width: calc(50% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border-radius: 5px;
}
.slpPartnercol:not(:last-child){
    margin-bottom: 20px;
}
/* .slpPartnercol {
    width: calc(16.66% - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border-radius: 5px;
} */
.slpPartnercol img{
    width:100px;
}
/* ======================================================
============ end satisfied customer css =================
========================================================= */


/* ======================================================
============== start business idea css ==================
========================================================= */
.slpBusinessIdeaSection{
    background-color:var(--slpBgColor1);
}

.slpBusinessIdeaHeading {
    max-width: 790px;
    width: 100%;
    margin: 0 auto;
}
.slpBusinessAreaButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.slpviewButton {
    color: var(--slpPrimaryTextColor);
    /* margin-left: 20px; */
    margin-right: 15px;
}
.slpViewBtnMargin {
    margin-bottom: 18px;
    margin-right: 15px;
}
/* ======================================================
================ end business idea css ==================
========================================================= */


/* ======================================================
================== start footer  css ====================
========================================================= */
.slpFooterSection{
    background-color:var(--slpSecondaryColor);
}
.slpFooterDescpText{
    color:var(--slpWhite);
    line-height: 24px;
}
.slpFooterMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.slpFooterCol1, .slpFooterCol2 {
    width: 100%;
    margin-bottom: 40px;
}
/* .slpFooterCol1, .slpFooterCol2 {
    width: 20%;
} */
.slpFooterDescription {
    margin-top: 20px;
}
.slpSocialIconMargin:not(:last-child){
    margin-right: 27px;
}
.slpFooterSocialIconArea {
    margin-top: 30px;
}

/* title */
.slpFooterColTitleText{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color:var(--slpWhite);
    text-transform: uppercase;
}
.slpAddressIcon {
    width: 13px;
    height: 16px;
    margin-top: 4px;
    margin-right: 15px;
}
.slpAddressText{
    color:var(--slpWhite);
    line-height: 24px;
    display: flex;
    flex-direction: column;
}
.slpMailText{
    color:var(--slpWhite);
    line-height: 24px;
}
.slpAddressNavItem {
    display: flex;
    margin-top: 20px;
}


/* col 3  */
.slpFooterCol4{
    width:100%;
}
.slpFooterCol3{
    width:100%;
    margin-bottom: 40px;
}
/* .slpFooterCol4{
    width:22%;
}
.slpFooterCol3{
    width:15%
} */
.slpUsFullLinkNav{
    display: flex;
    flex-direction: column;
}
.slpUsfullLinkNavItem {
    color: var(--slpWhite);
    margin-top: 20px;
    cursor: pointer;
}
.slpSearchFieldArea {
    position: relative;
    margin-top: 25px;
}
.slpHideOnMobileDevice{
    display: none;
}

/* ======================================================
==================== end footer  css ====================
========================================================= */


/* responsive */


@media(max-width:414px){
    .slpHeaderGetStartBtn.slpMediumBtn {
        width: 85px !important;
        height: 32px;
    }
    .slpNavItem{
        margin-right: 12px !important;
    }
    .slpLogoSize {
        width: 130px;
    }
    .sticky .slpLogoSize {
        width: 85px;
        display: flex;
        align-items: center;
    }
}
@media(min-width:414px){
    .slpviewButton {
        color: var(--slpPrimaryTextColor);
        /* margin-left: 20px; */
        /* margin-right: 15px; */
    }
    .slpViewBtnMargin {
        margin-bottom: 18px;
        margin-right: 15px;
    }
}
@media(min-width:575px){
    .slpPartnercol {
        width: calc(33.33% - 10px);
    }
    .slpChooseUsCol {
        width: calc(50% - 20px);
    }
}


@media(min-width:768px){
    
    .slpNav{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .slpPartnercol {
        width: calc(20% - 10px);
    }
    .slpviewButton{
        margin-left: 20px;
    }

    .slpMainBanner {
        flex-direction: row;
    }
    .slpMainBannerLeft {
        width: 45%;
    }
    .slpMainBannerRight {
        width: 55%;
        order: 1;
        margin-top: 0px;
    }
    .slpBannerSection {
        height: 100vh;
        min-height: 768px;
        align-items: center;
        display: flex;
    }

    .slpGrowFasterMain {
        flex-direction: row;
        align-items: center;
    }
    .slpGrowFasterLeft {
        width: 50%;
    }
    .loadFasterImage{
        max-width: 740px;
        width:100%;
    }
    .loadFasterImage img{
        width:100%;
    }
    .slpGrowFasterRight {
        width: 50%;
        padding-left: 60px;
    }
    .slpChooseUsSectionHeading {
        text-align: center;
    }
    .slpChooseUsCol {
        width: calc(50% - 35px);
    }
    .slpWhereverMain {
        flex-direction: row;
    }
    .slpWhereverLeft {
        width: 50%;
    }
    .slpWhereverRight {
        width: 50%;
        order: 1;
        margin-bottom: 0px;
    }
    .slpWhereverImg{
        max-width: 690px;
        width:100%;
        float:right;
    }
    .slpAskQuestionMain {
        flex-direction: row;
    }
    .slpAskQuestionLeft {
        width: 50%;
    }
    .slpAskQuestionLeftImg {
        max-width: 690px;
        width: 100%;
    }
    .slpAskQuestionRight{
        width:50%;
        margin-top: 0px;
        padding-left: 64px;
    }
    .slpFooterCol1, .slpFooterCol2, .slpFooterCol3, .slpFooterCol4 {
        width: calc(50% - 30px);
        margin-bottom: 50px;
    }
    .slpFooterCol3, .slpFooterCol4{
        margin-bottom: 0px;
    }
    .slpHideOnMobileDevice{
        display: block;
    }
    .sticky .slpLogoSize {
        width: 120px;
        display: flex;
        align-items: center;
    }
}


@media(min-width:1025px){
    .slpMainHeader {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .slpNavItem {
        font-size: var(--slpFontSize16);
    }
    .slpBannerGetStartBtn {
        font-size: var(--slpFontSize14);
    }
    .slpPartnercol {
        width: calc(16.66% - 10px);
        margin-bottom: 0px !important;
    }
    .slpPartnercol img {
        width: 160px;
    }

    .slpMainBannerLeft {
        width: 50%;
    }
    .slpMainBannerRight {
        width: 50%;
    }


 
    .slpMainBannerRightInner .slpBannerRightImg{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    } 
 
    .slpMainBannerRightInner {
        max-width: 730px;
        height: 600px;
        width: 100%;
        float: right;
    }
    .slpBannerHeadingText {
        font-size: var(--slpFontSize48);
        line-height: 60px;
    }
    .slpLineBreak{
        display: block;
    }

    .slpCountDownTopText {
        font-size: var( --slpFontSize36);
    }
    .slpSectionHeaderText {
        font-size: var(--slpFontSize36);
        line-height: 48px;
    }
    .slpChooseUsCol {
        width: calc(25% - 45px);
        margin-bottom: 0px !important;
    }
    .slpChooseUsTitle {
        font-size: var(--slpFontSize20);
    }

    .slpFooterCol1{
        width: 20%;
        margin-bottom:0px !important
    }
    .slpFooterCol2 {
        width: 20%;
        margin-bottom:0px !important
    }
    .slpFooterCol3{
        width:15%;
        margin-bottom:0px !important
    }
    .slpFooterCol4{
        width:22%;
        margin-bottom:0px !important
    }
    .sticky .slpLogoSize {
        width: 125px;
    }
}

@media(min-width:1366px){
    .slpPartnercol {
        width: calc(16.66% - 20px);
    }
}